<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">
            org.hibernate.dialect.SQLServer2012Dialect
        </property>
        <property name="hibernate.connection.driver_class">
            com.microsoft.sqlserver.jdbc.SQLServerDriver
        </property>

        <!-- Assume test is the database name -->
        <property name="hibernate.connection.url">
            jdbc:sqlserver://localhost;DatabaseName=Home;User=rd;Password=rd11;
        </property>
        <property name="hibernate.id.new_generator_mappings">
            false
        </property>
        <property name="hibernate.hbm2ddl.auto">
            create-only
        </property>
        <mapping class="org.nia.model.Voting"/>
        <mapping class="org.nia.model.VoteUser"/>
        <mapping class="org.nia.model.VoteOption"/>
        <mapping class="org.nia.model.User"/>
        <mapping class="org.nia.model.DrinkPref"/>
        <mapping class="org.nia.model.Quest"/>
        <mapping class="org.nia.model.QuestEvent"/>
        <mapping class="org.nia.model.QuestFact"/>
        <mapping class="org.nia.model.QuestItem"/>
        <mapping class="org.nia.model.Tournament"/>
        <mapping class="org.nia.model.TournamentUsers"/>
        <mapping class="org.nia.model.TournamentBet"/>


    </session-factory>
</hibernate-configuration>